asttokens
bayesian-optimization
certifi
charset-normalizer
colorama
comm
contourpy
cycler
debugpy
decorator
dill
executing
filelock
fonttools
fsspec
geopandas
hdbscan
idna
iniconfig
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mpmath
nest-asyncio
networkx
numpy
oauthlib
openpyxl
packaging
pandas
parso
pillow
platformdirs
pluggy
prompt_toolkit
psutil
pure_eval
py-expression-eval
pyDOE
Pygments
pyodbc
pyogrio
pyparsing
pyproj
pytest
python-dateutil
pytz
pyzmq
requests
requests-oauthlib
scikit-learn
scipy
seaborn
setuptools
shapely
six
sklearn
sobol-seq
SQLAlchemy
stack-data
sympy
tabulate
threadpoolctl
torch
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
wcwidth
wheel
-e .